{% extends "base.html" %}

{% block title %}
{{champion.name}} -
{% endblock %}

{% block bodyStyle %}{% if champion.home %}style-{{champion.home}}{% else %}style-default{% endif %}{% endblock %}

{% block header %}
{% load staticfiles %}
{% load template_tags %}
            <div class="row">
                {% include "utils/champion_header.html" with champion=champion %}
                <div class="col-md-4">
                    <div id="display-buttons-div" class="row">
                        <div class="col-md-4">
                            <a href="#reds"><button data-toggle="tab-red-posts" class="display-button btn btn-default active">Red Posts</button></a>
                        </div>
                        <div class="col-md-4">
                            <a href="#discussion"><button data-toggle="tab-discussion" class="display-button btn btn-default">Discussion</button></a>
                        </div>
                        <div class="col-md-4">
                            <a target="_blank" href="{{ champion|wiki_link }}"><button class="display-button btn btn-primary">Wiki</button></a>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}

{% block contents %}
        {% load staticfiles %}
        {% load template_tags %}
        <div class="col-md-12">
            <div id="toggle-tabs">
                <div id="tab-red-posts">
                    <h2>Red Posts about {{champion.name}}</h2>
                    {% csrf_token %}
                    <div class="row">
                        {% include "utils/components/full_red_table.html" %}
                    </div>
                </div>
                <div id="tab-discussion" class="hidden">
                    <h2>Discussions and Articles about {{champion.name}}</h2>
                    {% if user.is_authenticated %}
                    <div>Hey, how about <a href="{% url "article-edit" article_id='ritoplsnerf' %}?champion={{champion.url_id}}">you write something</a> ?</div>
                    {% endif %}
                    <hr>
                    {% for article in champion.articles %}
                    <div class="row">
                        <div class="col-md-12">
                            <h3>
                                <a href="{% url "article-view" article_id=article.url_id%}">{{article.title}}</a>
                                {% include "utils/article_admin.html" with article=article %}
                            </h3>
                        </div>
                    </div>
                    <div>{{article.contents|truncatesmart:142|markdown | safe}}</div>
                    <hr>
                    {% empty %}
                    <div>No article for {{champion.name}}. Maybe you'll want to create one ? 8)</div>
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}

{% block js %}
    <!-- If you came with #reds or something, automatically open the tab. -->
    <script>
        $(document).ready(function() {
            var hash = window.location.hash;
            $('a[href="'+hash+'"] button').click();
        });
    </script>
    <script>
        $('.display-button').click(function(event) {
            b = $(event.target);
            $('#toggle-tabs').children().each(function(res) {
                if ($(this).attr('id') === b.attr('data-toggle'))
                {
                    $(this).removeClass('hidden');
                } else {
                    $(this).addClass('hidden');
                }
                // (De)Activate buttons
                $('.display-button').removeClass('active red-outline');
                b.addClass('active red-outline');
            });
        });
    </script>
    <!-- Chapter 5 : Generate the Red Posts Datatable !!!11one -->
    <script>
        $(document).ready(function() {
            {% include "utils/scripts/red_table_handlebars.html" %}
            {% include "utils/scripts/datatable_language.html" %}
            // Table
            var redTable = $('#red-table').DataTable({
                "ajax": {
                    "url": "{% url 'red-posts' %}",
                    "type": "GET",
                    "data":
                        function ( args ) {
                            q = {'query': {
                                    'is_and': true,
                                    'champions': ["{% autoescape off %}{{champion.name}}{% endautoescape %}"],
                                }
                            };
                            {% include "utils/scripts/datatable_red_posts_default_auto_filter.html" %}
                            return {"args": JSON.stringify( $.extend(args, q))};
                        },
                },
                {% include "utils/scripts/datatable_red_posts_default_config.html" %}
            });
            {% include "utils/scripts/datatable_red_posts_init.html" %}

            $("#red-table").on("page.dt", function() {
                $('html,body').animate({scrollTop: $("#red-table").offset().top-60}, 1000);
            });
        });
    </script>
    <!-- Lock the search bar when scrolling -->
    <script>
        $(document).scroll(function() {
            var detect = 230;
            if ($(document).scrollTop() >= detect)
            {
                $('#red-table_wrapper > .top').addClass('fixed-below-navbar');
            } else {
                $('#red-table_wrapper > .top').removeClass('fixed-below-navbar');
            }
        });
    </script>
    {% include "utils/scripts/filters_panel_setup.html" %}
{% endblock %}
