{% extends "base.html" %}

{% block title %}
Champions -
{% endblock %}

{% block header %}
<div class="row">
    <div class="col-md-12">
        <h1>The Champions</h1>
    </div>
</div>
{% endblock %}

{% block contents %}
    {% load staticfiles %}
    {% load template_tags %}
    {% include "utils/components/champion_grid_handlebar.html" %}
    <div class="col-md-12">
        <div class="container-detach">
            <div id="search-row">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Search</h3>
                        <div class="row">
                            <div class="col-md-12 form-inline">
                                <input id="champions-grid-search" class="form-control" type="text" placeholder="Who you want me show ?">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div id="champions-grid">

        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function() {
            var template_champions = Handlebars.compile($("#handlebars-champions-grid").html());

            $.ajax({
                    "url": "{% url "champions-grid" %}",
                    "type": "GET",
                    "data": { 'args': JSON.stringify( {projection: {url_id: 1, name: 1, search: 1, total_posts: 1, glorious_posts: 1 } } ) },
                })
                .done(function(data) {
                    data["data"].sort(function(x, y) { return x.name.localeCompare(y.name); } );
                    $("#champions-grid").html(template_champions(data));
                    setupSearch();
             });

             function setupSearch()
             {
                var all = $('.champion-block');

                $('#champions-grid-search').bind('keyup', function(e) {
                    var search = $(this).val();
                    // Reset the grid
                    $('#champions-grid ul').html(all);
                    filter(search);
                });

                function filter(text) {
                    if (text !== '')
                    {
                        // Filter the grid
                        $('.champion-block').each(function() {
                            if (!($(this).attr('data-search').toLowerCase().indexOf(text.toLowerCase()) > -1))
                            {
                                $(this).remove();
                            }
                        });
                        // Print something is everyone's off.
                        if ($('#champions-grid li').length == 0)
                        {
                            $('#champions-grid ul').text("No one\'s come by that name here, mate. I mean, who " +
                                    "would you call \""+text+"\" anyway ? Not me, flower.");
                        }
                    }
                }

                // AND FOCUS IT MAN
                $('#champions-grid-search').focus();

                $('p[data-posts=0]').each(function() {
                    $(this).text(Math.random()<0.9 ? 'No Red Posts !' : '(╯°□°）╯︵ ┻━┻' ).removeClass('rioter').addClass('norioter');
                });
             }
        });
    </script>
{% endblock %}
