{% extends "base.html" %}

{% block title %}
Champions -
{% endblock %}

{% block header %}
<div class="row">
    <div class="col-md-12">
        <h1>The Champions</h1>
    </div>
</div>
{% endblock %}

{% block contents %}
    {% load staticfiles %}
    {% load template_tags %}
    <div class="col-md-12">
        <div class="container-detach">
            <div id="search-row">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Search</h3>
                        <div class="row">
                            <div class="col-md-12 form-inline">
                                <input id="champions-grid-search" class="form-control" type="text" placeholder="Who you want me show ?">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div id="champions-grid">
            <ul class="small-block-grid-3 medium-block-grid-7">
                {% for c in champions %}
                    <li id="{{c.name}}" title="{{c.name}}" class="champion-block text-center" data-search="{{c.name}} {{c.search}} {% for tag in c.tags %}{{tag}} {% endfor %}">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="{% url "champion" c.url_id %}">
                                    <img class="sneak-view" title="{{c.name}}" alt="{{c.name}}" src="{% static "images/sneak/" %}{{c.url_id}}.png"></img>
                                </a>
                                <div class="champions-label">
                                    <p class="champion-label">{{c.name}}</p>
                                    <p data-posts="{{c.total_posts|int}}"><span class="rioter">{{c.total_posts|int}}</span> Red Post{{c.total_posts|plural}}</p>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block js %}
    <!-- Search input -->
    <script>
        $(document).ready(function() {
            var all = $('.champion-block');

            $('#champions-grid-search').bind('keyup', function(e) {
                var search = $(this).val();
                // Reset the grid
                $('#champions-grid ul').html(all);
                filter(search);
            });

            function filter(text) {
                if (text !== '')
                {
                    // Filter the grid
                    $('.champion-block').each(function() {
                        if (!($(this).attr('data-search').toLowerCase().indexOf(text.toLowerCase()) > -1))
                        {
                            $(this).remove();
                        }
                    });
                    // Print something is everyone's off.
                    if ($('#champions-grid li').length == 0)
                    {
                        $('#champions-grid ul').text("No one\'s come by that name here, mate. I mean, who " +
                                "would you call \""+text+"\" anyway ? Not me, flower.");
                    }
                }
            }

            // AND FOCUS IT MAN
            $('#champions-grid-search').focus();
        });
    </script>
    <!-- Filter tags -->
    <script>

    </script>
    <!-- Fixed Search Div -->
    <!--<script>-->
        <!--$(document).scroll(function() {-->
            <!--var detect = $('#champions-grid').position()['top'] - 80;-->
            <!--if ($(document).scrollTop() >= detect)-->
            <!--{-->
                <!--$('#search-row').addClass('fixed-below-navbar');-->
            <!--} else {-->
                <!--$('#search-row').removeClass('fixed-below-navbar');-->
            <!--}-->
        <!--});-->
    <!--</script>-->
    <!-- No Red Posts !  (╯°□°）╯︵ ┻━┻ -->
    <script>
        $(document).ready(function() {
            $('p[data-posts=0]').each(function() {
                $(this).text(Math.random()<0.9 ? 'No Red Posts !' : '(╯°□°）╯︵ ┻━┻' ).removeClass('rioter').addClass('norioter');
            });
        });
    </script>
{% endblock %}
