{% extends "base.html" %}

{% block css %}
{% load staticfiles %}
<link href="{% static "css/introjs.min.css" %}" rel="stylesheet">
{% endblock %}

{% block header %}
{% load staticfiles %}
<h1 id="intro-header">
    <span id="homeLODWrapper">
        <img src="{% static "images/lod/lod.png" %}" alt="League of Designs" title="MWAAHAHAHHAAH" class="homeLOD cursorHelp"></img>
    </span>
    <audio preload="auto" id="singed1">
        <source src="{% static "audio/singed1.ogg" %}"></source>
    </audio>
    <audio preload="auto" id="singed2">
        <source src="{% static "audio/singed2.ogg" %}"></source>
    </audio>
    <audio preload="auto" id="singed3">
        <source src="{% static "audio/singed3.ogg" %}"></source>
    </audio>
    <span id="title">League of Designs</span>
</h1>
{% endblock %}

{% block contents %}
{% load staticfiles %}
{% load template_tags %}
<div class="col-md-12">
    <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <div class="row">
                <div class="col-md-12">
                    <h3>Welcome to League of Designs !</h3>
                    <div>Ever wondered what Riot has in store for <a href="{% url "champion" "Irelia" %}">Irelia</a> ?
                        If they considered shipping <a href="{% url "red-posts" %}?is_and=on&champions=Illaoi&champions=Teemo">Teemo with Illaoi</a> ?
                        What about them <a href="{% url "red-posts" %}?tags=Marksman&is_and=on">class updates</a> ?
                        <b>League of Designs</b> looks for those fascinating topics on League of Legends' Boards. Check them out !</div>
                </div>
                <div class="col-md-12 top15">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <a href="{% url "red-posts" %}" class="btn btn-primary btn-block">Dive into the Red Posts !</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <h3>Browse Red Posts !</h3>
            <form method="GET" action="{% url "red-posts" %}">
            <div class="row">
                <div class="col-md-8 col-md-offset-1">
                    <input class="form-control" id="text-search" name="search" placeholder="Champions, reworks, memes..."></input>
                    <div class="hidden"><input checked="checked" id="id_is_and" name="is_and" type="checkbox"></div>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary btn-block">Go !</button>
                </div>
                <div class="col-md-6 suggestions">
                    <div>
                        <h4>
                            <div class="row">
                                <div class="col-md-10">
                                    Pick a champion...
                                </div>
                                <div class="col-md-2">
                                    <a href="{% url "champions-grid" %}">
                                    <i class="glyphicon glyphicon-search"></i>
                                    </a>
                                </div>
                            </div>
                        </h4>
                    </div>
                    <div>
                        {% for c in champions %}
                        <a href="{% url "champion" c.url_id %}"><img  class="mini-icon" title="{{c.name}}, {{c.total_posts|int}} posts" src="{% static "images/portraits" %}/{{c.portrait}}"></img></a>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-6 suggestions suggestions-rioters">
                    <div>
                        <h4>
                            <div class="row">
                                <div class="col-md-10">
                                    Or a Rioter...
                                </div>
                                <div class="col-md-2">
                                    <a href="{% url "rioters" %}">
                                    <i class="glyphicon glyphicon-search"></i>
                                    </a>
                                </div>
                            </div>
                        </h4>
                    </div>
                    <div>
                        <ul class="medium-block-grid-2">
                            {% for r in rioters %}
                            <a href="{% url "rioter" r.url_id %}" class="btn btn-default">{{r.name}}</button>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
    <hr>
    <div id="carousel-example-generic" class="carousel slide home-carousel" data-ride="carousel">
        <!--&lt;!&ndash; Indicators &ndash;&gt;-->
        <!--<ol class="carousel-indicators">-->
            <!-- Heh do I need that ? -->
            <!--<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>-->
            <!--<li data-target="#carousel-example-generic" data-slide-to="1"></li>-->
            <!--<li data-target="#carousel-example-generic" data-slide-to="2"></li>-->
        <!--</ol>-->

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="row bot15">
                    <div class="col-md-2"></div>
                    <div class="col-md-8" id="news">
                        <h3>
                            <a href="{% url "articles-list" %}">
                            <div class="row">
                                <div class="col-md-8">
                                    What's new ?
                                </div>
                                <div class="col-md-4 text-right">
                                    <i class="grid-link glyphicon glyphicon-book"></i>
                                </div>
                            </div>
                            </a>
                        </h3>
                        <div>
                            {% for a in articles %}
                            <div><h4>{% if a.champion != "None" %}<a href="{% url "champion" url_id=a.champion_data.url_id %}"><img class="mini-icon" src="{% static "images/portraits/" %}{{a.champion_data.portrait}}"></a>{% endif %}{{a.title}} {% include "utils/article_admin.html" with article=a %}</h4></div>
                            <div class="text-right"><small>{{a.date_created}} ({% include "utils/date_span.html" with date=a.date_created|isoformat %})</small></div>
                            <div class="newsHomeContent">{{a.contents|markdown | safe}}</div>
                            <hr>
                            {% empty %}
                            How comes, no NEWS ?
                            {% endfor %}
                            <div>
                                <a href="{% url "articles-list" %}"><i class="grid-link glyphicon glyphicon-book"></i> View more News and Articles..</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
            {% for r in reds %}
            <div class="item">
                <div class="row bot15 top15">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 red-post-message-cell">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="red-header red-post-message-header">
                                    <a href="{% url "rioter" r.rioter_url_id %}" class="rioter">{{r.rioter}}</a>,
                                    {% include "utils/date_span.html" with date=r.date|isoformat %}
                                    <br>
                                    In <a href="{% url "red-posts" %}?thread_id={{r.thread_id}}&is_and=true">
                                    <i title="Rundown for thread « {{r.thread}} »" class="glyphicon glyphicon glyphicon-list rundown-link"></i></a>
                                    &nbsp;<a href="{{r.url}}" target="_blank">{{r.thread}}</a>
                                </div>
                            </div>
                        </div>
                        <div class="red-quote red-post-message-core">
                            {{r.contents|markdown | safe}}
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row bot15">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 red-post-champions home-red hidden-xs red-post-champions-cell">
                    {% if r.champions_data|length > 0 %}
                        <div class="red-post-champions-cell-container">
                            {% for c in r.champions_data %}
                            <div class="champion-sneak-wrapper home-red-portrait">
                                <a href="{% url "champion" c.url_id %}">
                                    <img class="" alt="{{c.name}}" title="{{c.name}}" src="{% static "images/portraits/" %}{{c.portrait}}" />
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="super-border"></div>
                    {% else %}
                        {{r.section}}
                    {% endif %}
                    </div>
                    <div class="col-md-1 red-post-champions visible-xs">
                    {% if r.champions_data|length > 0 %}
                        {% for c in r.champions_data %}
                        <a href="{% url "champion" c.url_id %}"><img class="mini-icon" alt="{{c.name}}" title="{{c.name}}" src="{% static "images/portraits/" %}{{c.portrait}}"></img></a>
                        <span class="hidden">
                            {{c.name}} {{c.search}}
                        </span>
                        {% endfor %}
                    {% else %}
                        {{r.section}}
                    {% endif %}
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
{% endblock %}

{% block js %}
{% include "utils/scripts/hovermore.html" %}
<script>
        $(document).ready(function() {
            var homeTable = $('#champions-home').DataTable({
                "order": [[ 2, "desc" ]],
                "info": false,
                "dom": '<"top"fi>rt<"bottom"p><"clear">',
                "language": {
                    "search": "Search champion :",
                    "zeroRecords": "Wait, <i>WHO</i> ?"
                },
                "lengthMenu": [[5], [5]],
                "columnDefs": [
                {
                    "targets": [ 3, 4 ],
                    "visible": false,
                },
                {
                    "searchable": false,
                    "targets": [ 2 ],
                }
                ],
                searchHighlight: true,
            });
            // Search Enter Key
            $('#champions-home_filter input').unbind();
            $('#champions-home_filter input').bind('keyup', function(e) {
                if (e.keyCode == 13) {
                    rowData = homeTable.row(0, {row:  'current', search: 'applied'}).data();
                    window.open(rowData[3], '_self');
                }
                homeTable.search($(this).val());
                homeTable.draw();
            });
        } );

        // Binding table row links
        $('#champions-home tr').addClass('cursorPointer');
        $('#champions-home tr[data-href]').on("click", function() {
            window.open($(this).data('href'), '_self');
        });

    </script>
<!-- wowsoSPOOKY -->
<script>
        $(document).ready(function() {
            var trollCounter = 0;
            var trollArray = {
                '3': 'Please stop.',
                '6': 'Stop it.',
                '9': 'For the love of TEEMO please STOP that LAUGH',
                '12': 'I DO NOT WANT TO TAKE EXTREME MEASURES',
                '15': 'YOU HAVE BEEN WARNED',
                '42': 'You dirty little cheater.',
            };
            $('.homeLOD').click(function() {
                $("#singed" + Math.ceil(Math.random() * 3))[0].play();
                // SPOOKY ANIMATION
                pos = $(this).position();
                $(this).animate({'left':'-='+(pos.left+$(this).width())})
                    .animate({'top':'+='+Math.random()*800}, function() {
                        $(this).css({'transform':'scale(-1,1)'});
                    })
                    .animate({'left':$(window).width()}, 1000)
                    .animate({'top':0}, function() {
                        $(this).css({'transform':'scale(1,1)'});
                    })
                    .animate({'left':0}, function() {
                        trollCounter++;
                        if (trollCounter == 16)
                        {
                            window.location = 'http://www.finalesfunkeln.com';
                        }
                        if (trollCounter in trollArray) {
                            $('#title').text(trollArray[trollCounter]);
                        }
                    });
            });
        });
    </script>
{% endblock %}
