{% extends "base.html" %}

{% block css %}
    {% load staticfiles %}
    <link href="{% static "css/introjs.min.css" %}" rel="stylesheet">
{% endblock %}

{% block header %}
    {% load staticfiles %}
            <h1 id="intro-header">
                <span id="homeLODWrapper">
                    <img src="{% static "images/lod/lod.png" %}" alt="League of Designs" title="MWAAHAHAHHAAH" class="homeLOD"></img>
                </span>
                <audio preload="auto" id="singed1">
                    <source src="{% static "audio/singed1.ogg" %}"></source>
                </audio>
                <audio preload="auto" id="singed2">
                    <source src="{% static "audio/singed2.ogg" %}"></source>
                </audio>
                <audio preload="auto" id="singed3">
                    <source src="{% static "audio/singed3.ogg" %}"></source>
                </audio>
                League of Designs
            </h1>
{% endblock %}

{% block contents %}
    {% load staticfiles %}
    {% load template_tags %}
        <div class="row">
            <div class="col-md-12">
                <h2>
                    <div class="row">
                            <div class="col-md-11">
                                Welcome
                            </div>
                            <div class="col-md-1 text-right">
                                <i id="homeHeaderCaret" class="hideButton glyphicon glyphicon-menu-up" title="┌(▀Ĺ̯▀)┐" data-toggle="collapse" data-target="#homeSubHeader"></i>
                            </div>
                    </div>
                </h2>
                <p>Please enjoy your stay on <b>L</b>eague <b>O</b>f <b>D</b>esigns, where the masterminds behind League of Legends unveil the
                truth on Irelia nerf immunity and the upcoming ADC overhaul. All of that, soon™.</p>
            </div>
            <div id="homeSubHeader" class="col-md-12 collapse in">
                <p><b>How to use ?</b> On League of Designs, you can check out what Rioters have to say about your
                <a href="{% url "champion" url_id="Singed" %}">favourite champion</a> ! Will they get nerfed ? Reworked ? What are Riot's plans for the future ? Rioters
                speak a lot on Riot's Boards, and League of Designs conveniently gathers every thus-called <b>Red Post</b> here !</p>
                <p><button type="button" id="tourButton" class="btn btn-success">Show me around !</button> <button type="button" id="hideButton" class="btn btn-default hideButton" data-toggle="collapse" data-target="#homeSubHeader">Sounds good, let's go !</button></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 home-col hidden-xs" id="news">
                <h3>
                    <a href="{% url "articles-list" %}">
                        <div class="row">
                                <div class="col-md-8">
                                    News & Articles
                                </div>
                                <div class="col-md-4 text-right">
                                    <i class="grid-link glyphicon glyphicon-book"></i>
                                </div>
                        </div>
                    </a>
                </h3>
                <div>
                {% for a in articles %}
                    <div><h4>{{a.title}} {% include "utils/article_admin.html" with article=a %}</h4></div>
                    <div class="text-right"><small>{{a.date_created}} ({% include "utils/date_span.html" with date=a.date_created|isoformat %})</small></div>
                    <div class="newsHomeContent">{{a.contents|markdown | safe}}</div>
                    {% if not forloop.last %}
                    <hr>
                    {% endif %}
                {% empty %}
                    How comes, no NEWS ? HELL.
                {% endfor %}
                </div>
            </div>

            <div class="col-md-6 home-col" id="latest-red-posts">
                <h3>
                    <a href="{% url "red-posts" %}">
                        <div class="row">
                            <div class="col-md-8">
                                Latest Red Posts
                            </div>
                            <div class="col-md-4 text-right">
                                <i class="grid-link glyphicon glyphicon-education"></i>
                            </div>
                        </div>
                    </a>
                </h3>
                <div>
                    {% include "utils/mini_reds_list.html" with reds=reds %}
                </div>
                <div>
                    <a href="{% url "red-posts" %}"><i class="grid-link glyphicon glyphicon-education"></i> View more Red Posts...</a>
                </div>
            </div>

            <div class="col-md-3 home-col hidden-xs" id="champions-list">
                <h3>
                    <a href="{% url "champions-grid" %}">
                        <div class="row">
                            <div class="col-md-8">
                                Champions
                            </div>
                            <div class="col-md-4 text-right">
                                <i class="grid-link glyphicon glyphicon-queen"></i>
                            </div>
                        </div>
                    </a>
                </h3>
                <div>
                    {% include "utils/champions_table.html" with champions=champions id="champions-home"%}
                </div>
            </div>
        </div>
{% endblock %}

{% block js %}
    <script src="{% static "js/intro.min.js" %}"></script>
    <script>
        $(document).ready(function() {
            var homeTable = $('#champions-home').DataTable({
                "order": [[ 2, "desc" ]],
                "info": false,
                "dom": '<"top"fi>rt<"bottom"p><"clear">',
                "language": {
                    "search": "Search champion :",
                    "zeroRecords": "Wait, <i>WHO</i> ?"
                },
                "lengthMenu": [[5], [5]],
                "columnDefs": [
                {
                    "targets": [ 3, 4 ],
                    "visible": false,
                },
                {
                    "searchable": false,
                    "targets": [ 2 ],
                }
                ],
                searchHighlight: true,
            });
            // Search Enter Key
            $('#champions-home_filter input').unbind();
            $('#champions-home_filter input').bind('keyup', function(e) {
                if (e.keyCode == 13) {
                    rowData = homeTable.row(0, {row:  'current', search: 'applied'}).data();
                    window.open(rowData[3], '_self');
                }
                homeTable.search($(this).val());
                homeTable.draw();
            });
        } );
    </script>
    <script>
        // Read more !
        $(".read-more").each(function() {
            if ($(this).parent().outerHeight() >= 120) {
                $(this).parent().addClass("hovermore");
            } else {
                $(this).addClass("hidden");
            }
        });
        // Red Posts Gradient !
        $(".hovermore").hover(function() {
            totalHeight = 0;
            $el = $(this);
            $p  = $el.parent();
            $up = $p.parent();
            $ps = $up.find("p:not('.read-more')");
            $ps.each(function() {
                totalHeight += $(this).outerHeight();
            });
            $(this).animate({'max-height': totalHeight+'px'}, 500);
            $(this).children('.read-more').animate({'opacity':0}, 250);
        }, function() {
            $(this).animate({'max-height':'120px'});
            $(this).children('.read-more').animate({'opacity':1}, 500);
        });
    </script>
    <!-- CLASSY EFFECTS ON COLUMNS maybe -->
    <script>
        $(".home-col").hover(function() {
            $(this).animate({'background-color': '#f9dbdb'});
        }, function() {
            $(this).animate({'background-color': 'white'});
        });
    </script>
    <!-- wowsoSPOOKY -->
    <script>
        $(document).ready(function() {
            var trollCounter = 0;
            var trollArray = {
                '3': 'Please stop making him laugh.',
                '6': 'I am serious, stop it !',
                '9': 'For the love of SATAN PLEASE STOOOOP MAKING HIM LAUGH',
                '12': 'I DO NOT WANT TO TAKE EXTREME MEASURES',
                '15': 'YOU HAVE BEEN WARNED',
                '42': 'You dirty little cheater.',
            };
            $('h1').after('<div id="wowsoSHUTUP"></div>');
            $('.homeLOD').click(function() {
                $("#singed" + Math.ceil(Math.random() * 3))[0].play();
                // SPOOKY ANIMATION
                pos = $(this).position();
                $(this).animate({'left':'-='+(pos.left+$(this).width())})
                    .animate({'top':'+='+Math.random()*800}, function() {
                        $(this).css({'transform':'scale(-1,1)'});
                    })
                    .animate({'left':$(window).width()}, 1000)
                    .animate({'top':0}, function() {
                        $(this).css({'transform':'scale(1,1)'});
                    })
                    .animate({'left':0}, function() {
                        trollCounter++;
                        if (trollCounter == 16)
                        {
                            window.location = 'http://www.finalesfunkeln.com';
                        }
                        if (trollCounter in trollArray) {
                            $('#wowsoSHUTUP').text(trollArray[trollCounter]);
                        }
                    });
            });
        });
    </script>
    <!-- INTRO !!!!! wowsoBAKED -->
    <script>
        $(document).ready(function() {
            var intro = {
                "latest-red-posts": {'intro': "Check the latest Red Posts here ! Links will send you directly to Riot's Boards. Click a Champion's portrait to check all Red Posts about that Champion. Alternatively, click the cap icon up there to view ALL the Red Posts.", 'position':'left'},
                "champions-list": {'intro': "Looking for a particular champion ? Type his/her/its name there and press Enter !", 'position':'left'},
                "lod-navbar-intro": {'intro': "Access Red Posts and Champions from anywhere on the website through this handy navigation bar !"},
                "li-articles": {'intro': "If you enjoy the concept, there are some articles down there you can read."},
                "li-about": {'intro': "Read more about League of Designs philosophy here. If you want to contribute, there's a link for that, too."},
                "news": {'intro': "Keep track of new functionalities by reading the News there (or checking the GitHub depository, in the About section).", 'position':'right'},
                "intro-header": {'intro': "Thank you for your time ! I hope League of Designs helps you understand Riot's (some may say uncanny) way of doing things ! Have a good day~ ", 'position': 'bottom'},
            }

            var step = 1;
            for (var entry in intro)
            {
                $('#'+entry).attr('data-step', step).attr('data-intro', intro[entry]['intro']).attr('data-position', intro[entry]['position'] === undefined ? 'bottom':intro[entry]['position']);
                step++;
            }

            introJs().setOption({'doneLabel': 'Awesomelycious !', 'exitOnOverlayClick': true});
            $('#tourButton').click(function() { introJs().start(); });
        });
    </script>
    <!-- Hide Header Button -->
    <script>
        if (Cookies.get('hideHeader') === '1')
        {
             $('#homeHeaderCaret').click().addClass('glyphicon-menu-down').removeClass('glyphicon-menu-up');
        }
        $('.hideButton').click(function() {
            if ($('#homeSubHeader').hasClass('in'))
            {
                $('#homeHeaderCaret').addClass('glyphicon-menu-down').removeClass('glyphicon-menu-up');
                Cookies.set('hideHeader', '1', { expires : 42 });
            } else {
                $('#homeHeaderCaret').addClass('glyphicon-menu-up').removeClass('glyphicon-menu-down');
                Cookies.set('hideHeader', '0', { expires : 42 });
            }
        });
    </script>
{% endblock %}