{% extends "base.html" %}

{% block title %}
Red Posts -
{% endblock %}

{% block header %}
    <h1>The Red Posts</h1>
{% endblock %}

{% block css %}
{% endblock %}

{% block contents %}
    {% load staticfiles %}
    {% load template_tags %}
    <div class="col-md-12">
        <div class="col-md-4">
            <h3>Filter by Rioter</h3>
            <form method="#" action="#" id="filterForm">
                {% if not all %}
                    {% include "utils/filters/filter_choice.html" with list=rioters value="name" label="name" sub="glorious_posts" type="posts" id="rioter-select" %}
                {% else %}
                    {% include "utils/filters/filter_choice.html" with list=rioters value="name" label="name" sub="total_posts" type="posts" id="rioter-select" %}
                {% endif %}
            </form>
        </div>
        <div class="col-md-4">
            <h3>Filter by region</h3>
            <form method="#" action="#" id="regionFilter">
                {% include "utils/filters/filter_checkbox.html" with name="region-filter" types=regions colmd=3 %}
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            If a Rioter has no Red Posts associated, it means LoD didn't <span id="wowUP">detect a champion design conversation</span>. <span class="hidden" id="wow">wowsoSTALKED</span>
            <br>
            {% if not all %}
                <a href="{% url 'red-posts' %}?all=1">Show all Red Posts regardless of their theme (including Art, dank memes, etc.).</a>
            {% else %}
                <a href="{% url 'red-posts' %}">Show Red Posts only from champion designs Boards
                    (Gameplay & Balance, Champions & Gameplay, Maps & Modes).</a>
            {% endif %}
        </div>
    </div>
    <hr>
    {% csrf_token %}
    {% include "utils/red_posts_datatable.html" %}
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function() {
            // Ready the Handlebars !
            Handlebars.registerHelper('agoHB', function(date) {
                var now = new Date();
                var then = new Date(date);
                return now - then;
            });
            var template_champions = Handlebars.compile($("#handlebars-champions").html());
            var template_contents = Handlebars.compile($("#handlebars-contents").html());
            var template_date = Handlebars.compile($("#handlebars-date").html());
            var template_quote = Handlebars.compile($("#handlebars-quote").html());
            var template_region = Handlebars.compile($("#handlebars-region").html());
            var template_rioter = Handlebars.compile($("#handlebars-rioter").html());
            var template_thread = Handlebars.compile($("#handlebars-thread").html());
            // Then ready the Red Table !
            var redTable = $('#red-table').DataTable({
                "ajax": {
                    "url": "/red-posts",
                    "type": "GET",
                    "data": {
                        "search": "{{request.GET.search}}"
                    },
                },
                "columns": [
                    { "render": function( data, type, full, meta ) {
                        return template_rioter(full);
                    }},
                    { "render": function( data, type, full, meta ) {
                        if (type === 'display' || type === 'filter') {
                            // If displaying
                            return template_date(full);
                        } else {
                            // If sorting
                            return full['date'];
                        }
                    }},
                    { "render": function( data, type, full, meta ) {
                        return template_thread(full);
                    }},
                    { "render": function( data, type, full, meta ) {
                        return template_contents(full);
                    }},
                    { "render": function( data, type, full, meta ) {
                        return template_champions(full);
                    }},
                    { "data": "region" },
                ],
                "order": [[ 2, "desc" ]],
                "language": {
                    "loadingRecords": "Getting all them Red Posts...",
                    "zeroRecords": "Getting all them Red Posts... (If it takes forever it ight mean there aren't any.)",
                },
                "dom": '<"top"flpi>rt<"bottom"flpi><"clear">',
                "order": [[ 1, "desc" ]],
                "columnDefs": [
                {
                    "targets": [ 5 ],
                    "visible": false,
                },
                ],
                "searchHighlight": true,
            });

            // Filter Rioter
            $('#rioter-select').change(function() {
                redTable.column(0).search($(this).val()).draw();
                console.log($(this).val())
            });

            // Filter out EUW
            $('.region-filter').change(function() {
                redTable.column(5).search($('.region-filter:checked').map(function() { return $(this).val(); }).get().join('|'), true).draw();
            });

            // Auto search NA
            $('.region-filter[value=NA]').click();
        } );
    </script>
    <!-- Lock the search bar when scrolling -->
    <script>
        $(document).scroll(function() {
            var detect = 150;
            if ($(document).scrollTop() >= detect)
            {
                $('#red-table_wrapper > .top').addClass('fixed-below-navbar');
            } else {
                $('#red-table_wrapper > .top').removeClass('fixed-below-navbar');
            }
        });
    </script>
    <!-- wowsoSTALKING -->
    <script>
        $(document).ready(function() {
            $('#wowUP').hover(function() {
                $('#wow').removeClass('hidden');
            }, function() {
                $('#wow').addClass('hidden');
            });
        });
    </script>
{% endblock %}