{% extends "base.html" %}

{% block title %}
Red Posts -
{% endblock %}

{% block header %}
    <h1>{{red_title | safe}}</h1>
{% endblock %}

{% block css %}
{% endblock %}

{% block contents %}
    {% load staticfiles %}
    {% load template_tags %}
    <div class="col-md-12 bot15">
        <div class="col-md-4">
            <h3>Filter by Rioter</h3>
            <form method="#" action="#" id="filterForm">
                {% if not all %}
                    {% include "utils/filters/filter_choice.html" with list=rioters value="name" label="name" sub="glorious_posts" type="posts" id="rioter-select" %}
                {% else %}
                    {% include "utils/filters/filter_choice.html" with list=rioters value="name" label="name" sub="total_posts" type="posts" id="rioter-select" %}
                {% endif %}
            </form>
        </div>
        <div class="col-md-4">
            <h3>Filter by region</h3>
            <form method="#" action="#" id="regionFilter">
                {% include "utils/filters/filter_checkbox.html" with name="region-filter" types=regions colmd=3 %}
            </form>
        </div>
        <div class="col-md-4">
            <h3 class="cursorHelp" title="Includes {{glorious_sections|join:', '}}">Show Design Boards only</h3>
            <form method="#" action="#" id="designFilter">
                <div class="col-md-12 filterCheckbox">
                    <label class="checkbox-inline" for="design-only">
                        <input id="designOnlyCheck" class="design-only" value="design-only" type="checkbox" name="design-only"> Design Only
                    </label>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-12">
        <a href="{% url "red-posts-search" %}">
            <button type="button" class="btn btn-default">More search options...</button>
        </a>
        <hr>
    </div>
    <hr>
    {% csrf_token %}
    {% include "utils/red_posts_datatable.html" with table_id="red-table" %}
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function() {
            {% include "utils/scripts/red_table_handlebars.html" %}
            {% include "utils/scripts/datatable_language.html" %}
            // Table
            var redTable = $('#red-table').DataTable({
                "ajax": {
                    "url": "{% url 'red-posts' %}",
                    "type": "GET",
                    "data":
                        function ( args ) {
                            q = {'query': {
                                    {% if param_is_and %}"is_and": true,
                                    {% else %}{% endif %}
                                    {% for g in get_data %}{% if get_data|get:g %}"{{g}}": {{get_data|get:g|print_js | safe}},
                                    {% else %}{% endif %}{% endfor %}
                                }
                            };
                            {% include "utils/scripts/datatable_red_posts_default_auto_filter.html" %}
                            return {"args": JSON.stringify( $.extend(args, q))};
                        },
                },
                {% include "utils/scripts/datatable_red_posts_default_config.html" %}
            });
            {% include "utils/scripts/datatable_red_posts_init.html" with table_id="red-table" %}
        });
    </script>
    <!-- Lock the search bar when scrolling -->
    <script>
        $(document).scroll(function() {
            var detect = 230;
            if ($(document).scrollTop() >= detect)
            {
                $('#red-table_wrapper > .top').addClass('fixed-below-navbar');
            } else {
                $('#red-table_wrapper > .top').removeClass('fixed-below-navbar');
            }
        });
    </script>
{% endblock %}