{% extends "base.html" %}

{% block title %}
Rioters -
{% endblock %}

{% block header %}
<div class="row">
    <div class="col-md-12">
        <h1>The Rioters</h1>
    </div>
</div>
{% endblock %}

{% block contents %}
    {% load staticfiles %}
    {% load template_tags %}

    {% include "utils/components/rioters_table_handlebars.html" %}

    <div class="col-md-12">
        <table id="rioters-table">
            <thead>
                <th>Name</th>
                <th>Posts</th>
                <th>Latest Red Post</th>
            </thead>
            <tfoot>
                <th>Name</th>
                <th>Posts</th>
                <th>Latest Red Post</th>
            </tfoot>
        </table>
    </div>
{% endblock %}

{% block js %}
    <script>
        // Get Handlebars ready
        Handlebars.registerHelper('agoHB', function(date) {
            var now = new Date();
            var then = new Date(date);
            return now - then;
        });

        var template_rioter = Handlebars.compile($("#handlebars-rioter").html());
        var template_n_posts = Handlebars.compile($("#handlebars-n-posts").html());
        var template_last_post = Handlebars.compile($("#handlebars-last-post").html());

        $(document).ready(function() {
            var rioterTable = $('#rioters-table').DataTable({
                "processing": true,
                "serverSide": true,
                "searchDelay": 250,

                "ajax": {
                    "url": "{% url 'rioters' %}",
                    "type": "GET",
                    "data": function ( args ) { return {"args": JSON.stringify( args )}; }
                },

                "order": [[ 1, "desc" ]],

                "language": {
                    //"loadingRecords": languageLoading,
                    "zeroRecords": 'Hm ? Ah come on, Rioters are pretty silent..',
                    //"processing": languageLoading,
                },

                "dom": '<"top"flpi>rt<"bottom"flpi><"clear">',
                "searchHighlight": true,

                "columns": [
                    {
                        "name": "rioter",
                        "data": "rioter",
                        "render": function( data, type, full, meta ) {
                            return template_rioter(full);
                        },
                    },
                    {
                        "name": "total_posts",
                        "data": "total_posts",
                        "render": function( data, type, full, meta ) {
                            return template_n_posts(full);
                        },
                    },
                    {
                        "name": "last_post.date",
                        "data": "last_post",
                        "render": function( data, type, full, meta ) {
                            return template_last_post(full);
                        },
                    },
                ],
            });
        });
    </script>
{% endblock %}
