{% extends "base.html" %}

{% block title %}
{{rioter.name}} -
{% endblock %}

{% block header %}
{% load staticfiles %}
{% load template_tags %}
            <div class="row">
                <div class="col-md-12">
                    <h1 class="rioter">
                        {{rioter.name}}
                    </h1>
                     Author of {{rioter.total_posts|int}} posts (<span class="rioter">{{rioter.glorious_posts|int}}</span> about Design)
                </div>
            </div>
{% endblock %}

{% block contents %}
        {% load staticfiles %}
        {% load template_tags %}
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4 text-center">
                    <h4>Spotted in these sections !</h4>
                    <div class="row">
                        <div id="top-sections-wrapper" class="col-md-6 col-md-offset-3">
                            <canvas id="top-sections">
                            </canvas>
                            <div id="chartjs-tooltip"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    {% with fav=rioter|favourite_champions:1 %}
                    {% if fav == None %}
                    <h4>Loves nobody !</h4>
                    <div>
                        <a href="{% url "champion" "Draven" %}">
                            <img class="round-portrait cursor-pointer" title="MyPrecious" alt="Stop Reading the Source Code" src="{% static "images/portraits/" %}Draven.png"></img>
                        </a>
                    </div>
                    <h3>Except Draaaven of course.</h3>
                    {% else %}
                    <h4>Loves that jolly lad so much !</h4>
                    <div class="rioter top-champion" data-name="{{fav.name}}">
                        <img class="round-portrait cursor-pointer" title="{{fav.name}}" alt="{{fav.name}}" src="{% static "images/portraits/" %}{{fav|portrait}}"></img>
                    </div>
                    <h3><a href="{% url "champion" fav.url_id %}">{{fav.name}} (quoted <span class="rioter">{{fav.count|int}}</span> times)</a></h3>
                    {% endif %}
                    {% endwith %}
                </div>
                <div class="col-md-4 text-center">
                    <h4>Has got some glorious tales to tell !</h4>
                    {% with fav=rioter|favourite_champions:11 %}
                    {% if fav|length != 0 %}
                    {% for c in fav reversed %}
                    {% if not forloop.first %}
                        <div class="inline rioter-top-champions">
                            <div class="rioter top-champion" data-name="{{c.name}}">
                                <img class="cursor-pointer round-portrait" title="{{c.name}}" alt="{{c.name}}" src="{% static "images/portraits/" %}{{c|portrait}}"></img>
                                <span>
                                    <span class="rioter-top-champ-counter">{{c.count|int}}</span>
                                </span>
                            </div>
                        </div>
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    ...But nobody came. :)
                    {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <h3>{{rioter.name}}'s Posts</h3>
        </div>
        {% include "utils/components/full_red_table.html" with table_id="red-table" %}
{% endblock %}

{% block js %}
    {% include "utils/scripts/hovermore.html" %}
    <!-- Chapter 45 : Generate the Red Posts Datatable !!!11one -->
    <script>
        $(document).ready(function() {
            $('.rioter-top-champions .rioter').hover(function() {
                $(this).animate({'color': 'yellow'});
            }, function() {
                $(this).animate({'color': 'red'});
            });

            {% include "utils/scripts/red_table_handlebars.html" %}
            {% include "utils/scripts/datatable_language.html" %}
            // Table
            var redTable = $('#red-table').DataTable({
                "ajax": {
                    "url": "{% url 'red-posts' %}",
                    "type": "GET",
                    "data":
                        function ( args ) {
                            var topFilterChamp = $(".top-champion.selected").map(function() { return $(this).attr("data-name"); }).get();
                            var defaultFilterChamp = [$("#champion-select").val()];
                            var finalChamp = defaultFilterChamp[0] === "" ? topFilterChamp : topFilterChamp.concat(defaultFilterChamp);
                            q = {'query': {
                                    "is_and": true,
                                    "rioter": ['{{rioter.name}}'],
                                    "champions": finalChamp,
                                }
                            };

                            {% include "utils/scripts/datatable_red_posts_default_auto_filter.html" %}
                            return {"args": JSON.stringify( $.extend(args, q))};
                        },
                },
                {% include "utils/scripts/datatable_red_posts_default_config.html" %}
            });

            $(".top-champion").click(function(e) {
                $(this).toggleClass("selected");
                redTable.ajax.reload();
            });

            // Filter Rioter, don't mind me I have no idea why this is working ???
            $('#champion-select').change(function() {
                redTable.ajax.reload();
            });

            {% include "utils/scripts/datatable_red_posts_init.html" with table_id="red-table" %}

            $("#red-table").on("page.dt", function() {
                $('html,body').animate({scrollTop: $("#red-table").offset().top-60}, 1000);
            });

            // Sections chart
            var chartBox = $("#top-sections")[0];
            var sectionsChart = new Chart(chartBox, {
                type: 'pie',
                tooltipFontSize: 10,
                tooltipTemplate: {% verbatim %}"<%if (label){%><%=label%>: <%}%><%= value %>hrs",{% endverbatim %}
                percentageInnerCutout : 70,
                data: {
                    labels: [{% for s in rioter.sections_occurrences|top:5 %}"{{s.section | safe}}" ,{% endfor %}],
                    datasets: [{
                        label: 'Posts',
                        data: [{% for s in rioter.sections_occurrences|top:5 %}{{s.count|int}} ,{% endfor %}],
                        backgroundColor: [
                            '#F90000',
                            '#ffa700',
                            '#26382E',
                            '#22181C',
                            '#5A0001',
                        ],
                        borderColor: [
                            '#A90000',
                            '#dfa700',
                            '#16281E',
                            '#12080C',
                            '#1A0001',
                        ],
                        borderWidth: 2
                    }]
                },
                options: {
                    title: {
                        text: "Favourite sections",
                        fontFamily: "Georgia",
                        display: false,
                    },
                    legend: {
                        display: false,
                    },
                    tooltips: {
                        enabled: false,
                        // titleFontFamily: "Georgia",
                        custom: function(tooltip) {
                          // Tooltip Element
                          var tooltipEl = $('#chartjs-tooltip');
                          // Have the tooltip appear/disappear when you hover on/off the chart
                          $("#top-sections-wrapper").mouseover(function(e) {
                            tooltipEl.css('visibility', 'visible');
                          });
                          $("#top-sections-wrapper").mouseleave(function(e) {
                            tooltipEl.css('visibility', 'hidden');
                          });
                          // Set Text
                          if (tooltip.body) {
                            var innerHtml = [
                              (tooltip.body[0].lines || []).join('\n')
                            ];
                            tooltipEl.html(innerHtml.join('\n').replace(/,/g, ', '));
                          }
                          // Find Y Location on page
                          var top = 0;
                          if (tooltip.yAlign) {
                            top = tooltip.y + tooltip.caretHeight + tooltip.caretPadding;
                          }
                          var position = $(this._chart.canvas)[0].getBoundingClientRect();
                          // Display, position, and set styles for font
                          tooltipEl.css({
                            opacity: 1,
                            width: tooltip.width ? (tooltip.width + 'px') : 'auto',
                            left: tooltip.x + 'px',
                            top: position.height/2 + 'px',
                            fontFamily: tooltip._fontFamily,
                            fontSize: tooltip.fontSize,
                            fontStyle: tooltip._fontStyle,
                            padding: tooltip.yPadding + 'px ' + tooltip.xPadding + 'px',
                          });
                        }
                    },
                    scales:
                    {
                        xAxes: [{
                            display: false
                        }],
                    }
                }
            });
        });
    </script>
    {% include "utils/scripts/filters_panel_setup.html" %}
{% endblock %}
