{% extends "base.html" %}

{% block title %}
{{rioter.name}} -
{% endblock %}

{% block header %}
{% load staticfiles %}
{% load template_tags %}
            <div class="row">
                <div class="col-md-12">
                    <h1 class="rioter">
                        {{rioter.name}}
                    </h1>
                     Author of {{rioter.total_posts|int}} posts (<span class="rioter">{{rioter.glorious_posts|int}}</span> about Design)
                </div>
            </div>
{% endblock %}

{% block contents %}
        {% load staticfiles %}
        {% load template_tags %}
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <h4>Welcome to {{ rioter.name }}'s personal page !</h4>
                    <div>
                        Check out his favourite champions and all her/his posts !
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    {% with fav=rioter|favourite_champions:1 %}
                    {% if fav == None %}
                    <h4>Loves nobody !</h4>
                    <div>
                        <a href="{% url "champion" "Draven" %}">
                            <img class="round-portrait cursor-pointer" title="MyPrecious" alt="Stop Reading the Source Code" src="{% static "images/portraits/" %}Draven.png"></img>
                        </a>
                    </div>
                    <h3>Except Draaaven of course.</h3>
                    {% else %}
                    <h4>Loves that dude so much !</h4>
                    <div>
                        <a href="{% url "champion" fav.url_id %}">
                            <img class="round-portrait cursor-pointer" title="{{fav.name}}" alt="{{fav.name}}" src="{% static "images/portraits/" %}{{fav.portrait}}"></img>
                        </a>
                    </div>
                    <h3>{{fav.name}} (quoted <span class="rioter">{{fav.count|int}}</span> times)</h3>
                    {% endif %}
                    {% endwith %}
                </div>
                <div class="col-md-4 text-center">
                    <h4>Has got some glorious tales to tell !</h4>
                    {% with fav=rioter|favourite_champions:11 %}
                    {% for c in fav reversed %}
                    {% if not forloop.first %}
                        <div class="inline rioter-top-champions">
                            <a class="rioter" href="{% url "champion" c.url_id %}">
                                <img class="cursor-pointer round-portrait" title="{{c.name}}" alt="{{c.name}}" src="{% static "images/portraits/" %}{{c.portrait}}"></img>
                                <span>
                                    <span class="mdi">{{c.count|int}}</span>
                                </span>
                            </a>
                        </div>
                    {% endif %}
                    {% endfor %}
                    {% endwith %}
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <h3>{{rioter.name}}'s Posts</h3>
            {% include "utils/red_posts_datatable.html" with table_id="red-table" %}
        </div>
{% endblock %}

{% block js %}
    {% include "utils/scripts/hovermore.html" %}
    <!-- Pretty stuff ! -->
    <script>
        $('.rioter-top-champions a').hover(function() {
            $(this).animate({'color': 'yellow'});
        }, function() {
            $(this).animate({'color': 'red'});
        });
    </script>
    <!-- Chapter 45 : Generate the Red Posts Datatable !!!11one -->
    <script>
        $(document).ready(function() {
            {% include "utils/scripts/red_table_handlebars.html" %}
            {% include "utils/scripts/datatable_language.html" %}
            // Table
            var redTable = $('#red-table').DataTable({
                "ajax": {
                    "url": "{% url 'red-posts' %}",
                    "type": "GET",
                    "data":
                        function ( args ) {
                            q = {'query': {
                                    "is_and": true,
                                    "rioter": ['{{rioter.name}}'],
                                }
                            };
                            return {"args": JSON.stringify( $.extend(args, q))};
                        },
                },
                "processing": true,
                "serverSide": true,
                "searchDelay": 250,
                "columns": [
                    { "render": function( data, type, full, meta ) {
                        return template_rioter(full);
                    }},
                    { "render": function( data, type, full, meta ) {
                        if (type === 'display' || type === 'filter') {
                            // If displaying
                            return template_date(full);
                        } else {
                            // If sorting
                            return full['date'];
                        }
                    }},
                    { "render": function( data, type, full, meta ) {
                        return template_thread(full);
                    }},
                    { "render": function( data, type, full, meta ) {
                        return template_contents(full);
                    }},
                    { "render": function( data, type, full, meta ) {
                        return template_champions(full);
                    }},
                    { "data": "region" },
                    { "data": "is_glorious" },
                    { "render": function( data, type, full, meta ) {
                        return template_tags(full);
                    }},
                ],
                "language": {
                    "loadingRecords": languageLoading,
                    "zeroRecords": languageNoRecords,
                    "processing": languageLoading,
                },
                "dom": '<"top"flpi>rt<"bottom"flpi><"clear">',
                "order": [[ 1, "desc" ], [ 2, "desc" ]],
                "columnDefs": [
                    {
                        "targets": [ 0, 5, 6, 7 ],
                        "visible": false,
                    },
                ],
                "searchHighlight": true,
            });
            $('#{{table_id}}_wrapper > .top').wrapInner('<div class="container"></div>');
        });
    </script>
{% endblock %}