{% load template_tags %}
<div class="row">
    <div class="col-md-12">
        <select class="form-control" id="{{id}}">
            <option value="">--- All ---</option>
        </select>
    </div>
</div>

{% if ajax_url %}
<script>
    $(document).ready(function() {
        $.ajax({
                "url": "{% url ajax_url %}",
                "type": "GET",
                "data": { 'simple': true, 'args': JSON.stringify( {{params | safe}} ) },
            })
            .done(function(data) {
                var rioters = data["data"];
                for (var i=0;i<rioters.length;i++)
                {
                    var obj = rioters[i];
                    $('#{{id}}').append('<option value="'+obj["{{value}}"]+'">'+obj["{{label}}"]+' ('+obj["{{sub}}"]+' {{type}})</option>');
                }
            });
    });
</script>
{% endif %}
