"processing": true,
                "serverSide": true,
                "searchDelay": 250,
                "columns": [
                    {   "name": "red-post",
                        "data": "rioter",
                        "render": function( data, type, full, meta ) {
                            return template_red_post(full);
                        },
                        "createdCell": function (td, cellData, rowData, row, col) {
                            $(td).attr("colspan", 5)
                        }
                    },
                    {
                        "name": "date",
                        "data": "date",
                        "render": function( data, type, full, meta ) {
                            return template_empty(full);
                        },
                        "createdCell": function (td, cellData, rowData, row, col) {
                            $(td).attr("colspan", 5)
                        }
                    },
                    {
                        "name": "thread",
                        "data": "thread",
                        "render": function( data, type, full, meta ) {
                            return template_empty(full);
                        },
                        "createdCell": function (td, cellData, rowData, row, col) {
                            $(td).attr("display", "none")
                        }
                    },
                    {
                        "name": "contents",
                        "data": "contents",
                        "render": function( data, type, full, meta ) {
                            return template_empty(full);
                        },
                        "createdCell": function (td, cellData, rowData, row, col) {
                            $(td).attr("display", "none")
                        }
                    },
                    {
                        "name": "champions",
                        "data": "champions",
                        "render": function( data, type, full, meta ) {
                            return template_empty(full);
                        },
                        "createdCell": function (td, cellData, rowData, row, col) {
                            $(td).attr("display", "none")
                        }
                    },
                    {
                        "name": "region",
                        "data": "region",
                        "render": function( data, type, full, meta ) {
                            return template_empty(full);
                        },
                        "createdCell": function (td, cellData, rowData, row, col) {
                            $(td).attr("display", "none")
                        }
                    },
                    {
                        "name": "is_glorious",
                        "data": "is_glorious",
                        "render": function( data, type, full, meta ) {
                            return template_empty(full);
                        },
                        "createdCell": function (td, cellData, rowData, row, col) {
                            $(td).attr("display", "none")
                        }
                    },
                    {
                        "name": "tags",
                        "data": "tags",
                        "render": function( data, type, full, meta ) {
                            return template_empty(full);
                        },
                        "createdCell": function (td, cellData, rowData, row, col) {
                            $(td).attr("display", "none")
                        }
                    },
                    {
                        "name": "thread_id",
                        "data": "thread_id",
                        "render": function( data, type, full, meta ) {
                            return template_empty(full);
                        },
                        "createdCell": function (td, cellData, rowData, row, col) {
                            $(td).attr("display", "none")
                        }
                    },
                    {
                        "name": "META_score",
                        "data": "META_score",
                        "render": function( data, type, full, meta ) {
                            return template_empty(full);
                        },
                        "createdCell": function (td, cellData, rowData, row, col) {
                            $(td).attr("display", "none")
                        }
                    },
                ],
                "language": {
                    "loadingRecords": languageLoading,
                    "zeroRecords": languageNoRecords,
                    "processing": languageLoading,
                },
                "dom": '<"top"flpi>rt<"bottom"flpi><"clear">',
                "order": [[ 1, "desc" ]],
                "columnDefs": [
                    {
                        "targets": [ 3, 5, 6, 7, 8 ],
                        "visible": false,
                    },
                    {
                        "targets": [ 0, 1, 2, 4, 9 ],
                        "width": "20%",
                    },
                ],
                "searchHighlight": true,
                "deferLoading": true,
