<script>
    $(document).ready(function() {
        // Read more !
        $(".read-more").each(function() {
            if ($(this).parent().outerHeight() >= parseInt($(this).parent().css('max-height'))) {
                $(this).parent().parent().addClass("hovermore");
            } else {
                $(this).addClass("hidden");
            }
        });
        // Red Posts Gradient !
        $(".hovermore").hover(function() {
            var redContents = $(this).children(".red-contents");
            // Calculating height
            var totalHeight = 0;
            var stacks = redContents.find(".hoverMoreFetch").children();
            stacks.each(function() {
                totalHeight += $(this).outerHeight(true);
            });
            console.log(totalHeight);
            redContents.animate({'max-height': totalHeight+'px'}, 300);
            redContents.children('.read-more').animate({'opacity': 0}, 500);
        }, function() {
            redContents = $(this).find(".red-contents");
            redContents.animate({'max-height': redContents.attr('data-max-height')}, 300);
            redContents.children('.read-more').animate({'opacity': 1}, 500);
        });
    });
</script>