                    {   "name": "red-post",
                        "data": "rioter",
                        "render": function( data, type, full, meta ) {
                            return template_red_post(full);
                        },
                        "createdCell": function (td, cellData, rowData, row, col) {
                            $(td).attr("colspan", 5)

                            var wrapper = $(td).find(".red-post-champions-cell-container");
                            var c = wrapper.find(".champion-sneak-wrapper");
                            wrapper.width("320px");
                            var parentWidth = wrapper.parent().width();

                            $(td).find('.red-post-champions-cell-container').slick({
                                autoplay: c.length > 3,
                                slidesToShow: 3,
                                slidesToScroll: 3,
                                autoplaySpeed: 1500,
                                appendArrows: $(td).find(".champions-label-message"),
                                prevArrow: '<i class="glyphicon glyphicon-chevron-left slick-arrow custom-prev-arrow"></i>',
                                nextArrow: '<i class="glyphicon glyphicon-chevron-right slick-arrow custom-next-arrow"></i>',
                            });
                        }
                    },
                    {
                        "name": "date",
                        "data": "date",
                        "render": function( data, type, full, meta ) {
                            return template_empty(full);
                        },
                        "createdCell": function (td, cellData, rowData, row, col) {
                            $(td).attr("colspan", 5)
                        }
                    },
                    {
                        "name": "thread",
                        "data": "thread",
                        "render": function( data, type, full, meta ) {
                            return template_empty(full);
                        },
                        "createdCell": function (td, cellData, rowData, row, col) {
                            $(td).attr("display", "none")
                        }
                    },
                    {
                        "name": "contents",
                        "data": "contents",
                        "render": function( data, type, full, meta ) {
                            return template_empty(full);
                        },
                        "createdCell": function (td, cellData, rowData, row, col) {
                            $(td).attr("display", "none")
                        }
                    },
                    {
                        "name": "champions",
                        "data": "champions",
                        "render": function( data, type, full, meta ) {
                            return template_empty(full);
                        },
                        "createdCell": function (td, cellData, rowData, row, col) {
                            $(td).attr("display", "none");
                        }
                    },
                    {
                        "name": "region",
                        "data": "region",
                        "render": function( data, type, full, meta ) {
                            return template_empty(full);
                        },
                        "createdCell": function (td, cellData, rowData, row, col) {
                            $(td).attr("display", "none")
                        }
                    },
                    {
                        "name": "is_glorious",
                        "data": "is_glorious",
                        "render": function( data, type, full, meta ) {
                            return template_empty(full);
                        },
                        "createdCell": function (td, cellData, rowData, row, col) {
                            $(td).attr("display", "none")
                        }
                    },
                    {
                        "name": "tags",
                        "data": "tags",
                        "render": function( data, type, full, meta ) {
                            return template_empty(full);
                        },
                        "createdCell": function (td, cellData, rowData, row, col) {
                            $(td).attr("display", "none")
                        }
                    },
                    {
                        "name": "thread_id",
                        "data": "thread_id",
                        "render": function( data, type, full, meta ) {
                            return template_empty(full);
                        },
                        "createdCell": function (td, cellData, rowData, row, col) {
                            $(td).attr("display", "none")
                        }
                    },
                    {
                        "name": "META_score",
                        "data": "META_score",
                        "render": function( data, type, full, meta ) {
                            return template_empty(full);
                        },
                        "createdCell": function (td, cellData, rowData, row, col) {
                            $(td).attr("display", "none")
                        }
                    },
