                    {   "name": "red-post",
                        "data": "rioter",
                        "render": function( data, type, full, meta ) {
                            return template_red_post(full);
                        },
                        "createdCell": function (td, cellData, rowData, row, col) {
                            $(td).attr("colspan", 5)

                            var wrapper = $(td).find(".red-post-champions-cell-container");
                            var c = wrapper.find(".champion-sneak-wrapper");
                            var totalWidth = c.length * 110;
                            wrapper.width(totalWidth);
                            var parentWidth = wrapper.parent().width();

                            // There are 3 champions displayed.
                            // So we stop the drag after (N - 3)*110.
                            if (c.length > 3)
                            {
                                wrapper.draggable({
                                    axis: "x",
                                    drag: function(event, ui) {
                                        ui.position.left = Math.min(0, ui.position.left);
                                        ui.position.left = Math.max((c.length - 3)*(-110), ui.position.left);
                                        // ui.position.left = Math.max((-1)*(parentWidth-totalWidth), ui.position.left);
                                    }
                                });
                            }
                        }
                    },
                    {
                        "name": "date",
                        "data": "date",
                        "render": function( data, type, full, meta ) {
                            return template_empty(full);
                        },
                        "createdCell": function (td, cellData, rowData, row, col) {
                            $(td).attr("colspan", 5)
                        }
                    },
                    {
                        "name": "thread",
                        "data": "thread",
                        "render": function( data, type, full, meta ) {
                            return template_empty(full);
                        },
                        "createdCell": function (td, cellData, rowData, row, col) {
                            $(td).attr("display", "none")
                        }
                    },
                    {
                        "name": "contents",
                        "data": "contents",
                        "render": function( data, type, full, meta ) {
                            return template_empty(full);
                        },
                        "createdCell": function (td, cellData, rowData, row, col) {
                            $(td).attr("display", "none")
                        }
                    },
                    {
                        "name": "champions",
                        "data": "champions",
                        "render": function( data, type, full, meta ) {
                            return template_empty(full);
                        },
                        "createdCell": function (td, cellData, rowData, row, col) {
                            $(td).attr("display", "none");
                        }
                    },
                    {
                        "name": "region",
                        "data": "region",
                        "render": function( data, type, full, meta ) {
                            return template_empty(full);
                        },
                        "createdCell": function (td, cellData, rowData, row, col) {
                            $(td).attr("display", "none")
                        }
                    },
                    {
                        "name": "is_glorious",
                        "data": "is_glorious",
                        "render": function( data, type, full, meta ) {
                            return template_empty(full);
                        },
                        "createdCell": function (td, cellData, rowData, row, col) {
                            $(td).attr("display", "none")
                        }
                    },
                    {
                        "name": "tags",
                        "data": "tags",
                        "render": function( data, type, full, meta ) {
                            return template_empty(full);
                        },
                        "createdCell": function (td, cellData, rowData, row, col) {
                            $(td).attr("display", "none")
                        }
                    },
                    {
                        "name": "thread_id",
                        "data": "thread_id",
                        "render": function( data, type, full, meta ) {
                            return template_empty(full);
                        },
                        "createdCell": function (td, cellData, rowData, row, col) {
                            $(td).attr("display", "none")
                        }
                    },
                    {
                        "name": "META_score",
                        "data": "META_score",
                        "render": function( data, type, full, meta ) {
                            return template_empty(full);
                        },
                        "createdCell": function (td, cellData, rowData, row, col) {
                            $(td).attr("display", "none")
                        }
                    },
