h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia';
}

p, div, body {
    font-family: 'Georgia';
}

body { padding-top: 30px; }

h1 a, h3 a {
    color: darkred;
}

h1 a:hover, h3 a:hover {
    text-decoration: none;
    color: red;
    cursor: pointer;
}


h3 i.glyphicon {
    color: darkred;
}

textarea {
    display: block;
}

blockquote {
    font-size: inherit;
    color: #660066;
}

table.dataTable span.highlight {
    background-color: #ffff00;
}

.homeLOD {
    width: 64px;
    height: 64px;
    z-index: 1;
    position: relative;
}

.cursorHelp {
    cursor: help;
}

.cursorPointer {
    cursor: pointer;
}

#homeHeaderCaret {
    cursor: pointer;
}

.home-col {
    background-color: white;
    border-radius: 15px;
}

#tourButton {
    border-radius;
}

.quote-op {
    font-style: italic;
}

.red-quote {
    background-image: url('/static/images/lod/quote.png');
    background-repeat: no-repeat;
    background-position: top left;
}

.red-quote:hover {
    background-image: none;
}

.css-quotes {
    quotes: "«" "»" "“" "”";
}

.css-quotes:before {
    content: open-quote;
}

.css-quotes:after {
    content: close-quote;
}

.red-contents {
    position: relative;
    overflow-y: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px #aa0000 solid;
    padding-top: 0px;
}

.red-contents-120 {
    max-height: 120px;
}

.red-contents-220 {
    max-height: 220px;
}

.red-contents .read-more {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
    margin: 0;
    padding: 30px 0;
    background-image: linear-gradient(to bottom, transparent, white);
}

.red-rioter {
    padding-bottom: 3px;
}

.red-champions {
    padding-top: 0px;
}

.fieldWrapper {
    margin-bottom: 10px;
}

.msg {
    background-color: rgba(255,0,0,0.5);
    padding: 3px;
    color: white;
    border-radius: 10px;
    border-bottom: 2px #aa0000 solid;
    text-shadow: rgba(0,0,0,1) 0px 2px 3px;
}

.top15 {
    margin-top:15px;
}

.bot15 {
    margin-bottom: 15px;
}

.bot5 {
    padding-bottom: 1px;
}

.pic-h1-margin {
    margin-left: 15px;
}

.rioter {
    font-weight: bold;
    color: red;
}

.norioter {
    font-weight: normal;
    color: black;
}

#display-buttons-div {
    margin-top: 47px;
}

.display-button {
    font-size: 18px;
    width: 110px;
    height: 60px;
    border-radius: 5px;
}

.display-button-left {
    margin-left: -20px;
    margin-right: 15px;
}

.display-button-middle {
    margin-right: 15px;
}

.red-outline {
    border: 2px #c00000 solid;
}

.vtd {
    vertical-align: middle !important;
}

.spell-pic {
    margin: 5px;
    border: 2px black solid;
    border-radius: 10px;
}

.spell-name {
    font-weight: bold;
}

.championTable tr > td:nth-child(1) {
    width: 10%;
}

.championTable tr > td:nth-child(2) {
    width: 10%;
}

#home-button {
    position: fixed;
    top: 25px;
    right: 20px;
}

.nav-button {
    width: 120px;
}

#champions-navbar {
    position: absolute;
    top: 0px;
    width: 300px !important;
    border-radius: 5px;
    border: 2px solid black;
    z-index: 4799;
}

a.no-underline:hover {
    text-decoration: none;
}

#champions-grid-search {
    width: 200px;
    margin-right: 10px;
}

.round-portrait {
    border-radius: 60px;
    border: 3px solid black;
}

.rioter-top-champions {
    position:relative;
    text-align:center;
    margin: 3px;
}

.rioter-top-champions img {
    width: 64px;
}

.rioter-top-champions span {
    position: absolute;
    left: 0px;
    width: 100%;
    z-index: 100;
    text-shadow: 2px 2px #000000;
    font-size: 24px;
    top: 5px;
}

.inline {
    display: inline-block;
}

.among-bonus {
    font-size: 20px;
}


.rundown-link {
    color: red;
}

.rundown-link:hover {
    color: darkred;
}

#search-row {
    background-color: #ffffff;
    padding-bottom: 15px;
    border-bottom: 1px solid grey;
}

.fixed-below-navbar {
    position: fixed;
    width: inherit;
    top: 50px;
    z-index: 9;
    background-color: #ffffff;
    padding-top: 5px;
    border-bottom: 1px solid grey;
}

.filterCheckbox {
    padding: 5px;
}

.filterCheckbox > *:hover {
    cursor: pointer;
    color: rgba(255,0,0,1);
}

.navbar > .container {
    margin-top: 13px;
}

.small-pencil {
    font-size: 14px;
}

/* Resource style */

.resource-Mana {
    color: blue;
}

.resource-Energy {
    color: orange;
}

.resource-Health {
    color: red;
}

.resource-Courage {
    color: purple;
}

/* Location styles */

.base-bg {
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.style-default {
    background-image: url('/static/images/bg/bg-default.jpg');
}

.style-void {
    background-image: url('/static/images/bg/bg-void.jpg');
}

.style-targon {
    background-image: url('/static/images/bg/bg-targon.jpg');
}

.style-demacia {
    background-image: url('/static/images/bg/bg-demacia.jpg');
}

.style-noxus {
    background-image: url('/static/images/bg/bg-noxus.jpg');
}

.style-bilgewater {
    background-image: url('/static/images/bg/bg-bilgewater.jpg');
}

.style-shurima {
    background-image: url('/static/images/bg/bg-shurima.jpg');
}

.style-freljord {
    background-image: url('/static/images/bg/bg-freljord.jpg');
}

.style-piltover {
    background-image: url('/static/images/bg/bg-piltover.jpg');
}

.style-zaun {
    background-image: url('/static/images/bg/bg-zaun.jpg');
}

.style-shadow-isles {
    background-image: url('/static/images/bg/bg-shadow-isles.jpg');
}

.style-ionia {
    background-image: url('/static/images/bg/bg-ionia.jpg');
}

/* Champions mini-portraits */

.mini-icon {
    width: 40px;
    border-radius: 20px;
    border: 2px solid black;
    margin: 2px;
}

.mini-icon:hover {
    cursor: pointer;
    border: 2px solid red;
}

.medium-icon {
    width: 60px;
}

img.formIcon {
    width: 16px;
}

/* Red Posts Search */

.searchChampionIcon {
    cursor: pointer;
    opacity: 1;
    width: 32px;
}

.searchChampionIcon:hover {
    border: 2px solid darkred;
}

#id_champions[class*="block-grid-"] > li {
    padding: 1px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
}

.formScrolls ul {
    max-height: 170px;
    overflow-y: scroll;
}

/* http://jsfiddle.net/panman8201/mkzrm/10/ */

#top-link-block.affix-top {
    position: absolute; /* allows it to "slide" up into view */
    bottom: -82px; /* negative of the offset - height of link element */
    right: 10px; /* padding from the left side of the window */
}
#top-link-block.affix {
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 25px; /* height of link element */
    right: 20px; /* padding from the left side of the window */
}
