h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia';
}

p, div, body {
    font-family: 'Georgia';
}

body { padding-top: 30px; }

h1 a, h3 a {
    color: darkred;
}

h1 a:hover, h3 a:hover {
    text-decoration: none;
    color: red;
    cursor: pointer;
}


h3 i.glyphicon {
    color: darkred;
}

textarea {
    display: block;
}

blockquote {
    font-size: inherit;
    color: #660066;
}

table.dataTable span.highlight {
    background-color: #ffff00;
}

.body-wrapper {
    background-color: rgba(0, 0, 0, 0.3);
    padding-bottom: 60px;
    min-height: 100%;
}

.container {
    background-color: white;
}

.navbar-home-key {
    margin-right: 8px;
}

.navbar-home-key > img {
    height: 32px;
    width: 32px;
    margin-top: -5px;
}

.page-header {
    margin: 20px 0px 5px;
}

.container-border {
    border-radius: 20px;
    box-shadow: 0 0 2px 2px white,
         0 0 3px 4px rgb(25, 117, 66),
         0 0 0px 5px rgb(37, 0, 0),
         0 0 1px 8px #26381E,
         0 0 2px 8px lightgrey,
         0 0 1px 12px #26382E,
         0 0 0px 15px #101010;
}

.container-detach {
    width: 1140px;
}

footer {
    padding-bottom: 20px;
}

.standard-vertical-margins {
    margin-top: 20px;
    margin-bottom: 20px;
}

.small-vertical-margins {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dataTables_wrapper .container {
    width: 1140px;
}

.homeLOD {
    width: 64px;
    height: 64px;
    z-index: 1;
    position: relative;
}

#intro-header {
    margin-top: 30px;
}

#title {
    margin-left: 15px;
}

.suggestions {
    text-align: center;
}

.suggestions-rioters a {
    margin: 3px;
}

.home-carousel {
    box-shadow: 0 0 3px 2px #D3D3D3, 0 0 3px 1px rgb(129, 129, 129) inset;
}

.slick-slide img.mini-icon {
    display: inline-block;
}

.fix-carousel-home {
    z-index: 3;
}

.fix-carousel-home.slick-arrow {
    top: 0;
}

.slick-slide img {
    display: inline-block;
}

.home-red .red-post-champions-cell-container {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.home-red-portrait img {
    width: 64px;
}

.news-champion-icon {
    margin-right: 7px;
}

.cursorHelp {
    cursor: help;
}

.cursorPointer {
    cursor: pointer;
}

.quote-op {
    font-style: italic;
}

.dataTable th:hover {
    box-shadow: 0 0 2px 2px #89b79e;
    background-color: #89b79e;
}

.dataTable thead th:first-of-type {
    border-radius: 20px 0 0 0;
}

.dataTable thead th:last-of-type {
    border-radius: 0 20px 0 0;
}

.dataTable tfoot th:first-of-type {
    border-radius: 0 0 0 20px;
}

.dataTable tfoot th:last-of-type {
    border-radius: 0 0 20px 0;
}

.red-quote {
    background-image: url('/static/images/lod/quote.png');
    background-repeat: no-repeat;
    background-position: top left;
}

.red-quote:hover {
    background-image: none;
}

.css-quotes {
    quotes: "«" "»" "“" "”";
}

.css-quotes:before {
    content: open-quote;
}

.css-quotes:after {
    content: close-quote;
}

.red-posts-table {
    table-layout: fixed;
}

.red-posts-table th {
    text-align: center;
}

.red-contents {
    position: relative;
    overflow-y: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px #aa0000 solid;
    padding-top: 0px;
}

.red-contents-120 {
    max-height: 120px;
}

.red-contents-220 {
    max-height: 220px;
}

.red-post-message-cell {
    max-height: 320px;
}

.red-post-message-header {
    height: 20%;
    margin-left: 30px;
}

.red-post-message-core {
    overflow-y: scroll;
    height: 80%;
    max-height: 260px;
    min-height: 60px;
    margin-top: 5px;
    margin-left: 20px;
}

.red-post-modal .red-post-message-core {
    overflow-y: scroll;
    height: 80%;
    max-height: 500px;
    min-height: 60px;
    margin-top: 5px;
    margin-left: 20px;
}

.red-post-modal .champions-list {
    text-align: center;
    margin-left: -15px;
}

.red-post-champions-cell {
    max-height: 300px;
    overflow-y: hidden;
    background-color: inherit;
    overflow-x: hidden;
    box-shadow: 0 0 3px 2px #D3D3D3, 0 0 3px 1px rgb(129, 129, 129) inset;
}

.red-post-champions-cell-container {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: -15px;
    text-align: left;
}

.red-post-champions {
    text-align: center;
    border-radius: 2px;
    border: 1px solid black;
}

.super-border {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 5px 2px black inset;
    top: 0;
    left: 0;
    pointer-events: none;
}

.champions-label {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 15px;
    left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
}

.champions-label * {
    pointer-events: all;
}

.champions-label p {
    margin: 0px;
}

.champion-sneak-wrapper {
    display: inline-block;
    margin-left: 3px;
    margin-right: 3px;
}

.custom-next-arrow {
    right: -25px;
}

.custom-prev-arrow {
    left: -25px;
}

.slick-arrow {
    top: 3px;
    cursor: pointer;
    font-size: 16px;
}

.red-post-message-details-button {
    margin-left: 43px;
    text-align: right;
}

.details-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#red-posts-filters-panel {
    position: fixed;
    z-index: 1;
    bottom: -165px;
    width: 1170px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

#toggle-filters {
    display: flex;
    align-items: center;
    background-color: #26382E;
    height: 35px;
    margin-bottom: 5px;
    border-radius: 10px 10px 0 0;
    cursor: pointer;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#282828+0,26382e+100 */
    background: #26382E; /* Old browsers */
    background: -moz-linear-gradient(top, #000000 0%, #26382e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #000000 0%,#26382e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #000000 0%,#26382e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#26382e',GradientType=0 ); /* IE6-9 */
}

#filters-containers {
    background-color: white;
}

.toggle-filter-header {
    color: white;
}

.filters-borders {
    box-shadow: 0 0 2px 0px black, 0 0 1px 3px #26382E, 0 0 2px 5px black;
}

.red-contents .read-more {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
    margin: 0;
    padding: 30px 0;
    background-image: linear-gradient(to bottom, transparent, white);
}

.red-rioter {
    padding-bottom: 3px;
}

.red-champions {
    padding-top: 0px;
}

/* Champion Sneak view */

@-webkit-keyframes brighten {
    from {
        -webkit-filter: brightness(80%);
    }
    to {
        -webkit-filter: brightness(110%);
    }
}

@-webkit-keyframes brighten-reverse {
    from {
        -webkit-filter: brightness(110%);
    }
    to {
        -webkit-filter: brightness(80%);
    }
}

/* Champion Sneak view */

@-keyframes brighten {
    from {
        -webkit-filter: brightness(80%);
    }
    to {
        -webkit-filter: brightness(110%);
    }
}

@-keyframes brighten-reverse {
    from {
        -webkit-filter: brightness(110%);
    }
    to {
        -webkit-filter: brightness(80%);
    }
}

.sneak-view {
    height: 300px;

    -webkit-animation-name: brighten-reverse;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;

    box-shadow: 0 0 2px 2px black;
}

.sneak-view:hover {
    -webkit-animation-name: brighten;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
}

.fieldWrapper {
    margin-bottom: 5px;
}

.msg {
    background-color: rgba(255,0,0,0.5);
    padding: 3px;
    color: white;
    border-radius: 10px;
    border-bottom: 2px #aa0000 solid;
    text-shadow: rgba(0,0,0,1) 0px 2px 3px;
}

.top15 {
    margin-top:15px;
}

.bot15 {
    margin-bottom: 15px;
}

.bot5 {
    padding-bottom: 1px;
}

.pic-h1-margin {
    margin-left: 15px;
}

.rioter {
    font-weight: bold;
    color: red;
}

.standard-user {
    color: #26382E;
}

.error {
    color: red;
}

.norioter {
    font-weight: normal;
    color: black;
}

#display-buttons-div {
    height: 150px;
    display: flex;
    align-items: center;
}

.display-button {
    font-size: 16px;
    width: 100%;
    height: 60px;
    border-radius: 5px;
}

.display-button-left {
    margin-left: -20px;
    margin-right: 15px;
}

.display-button-middle {
    margin-right: 15px;
}

.red-outline {
    border: 2px #c00000 solid;
}

.vtd {
    vertical-align: middle !important;
}

.spell-pic {
    margin: 5px;
    border: 2px black solid;
    border-radius: 10px;
}

.spell-name {
    font-weight: bold;
}

.championTable tr > td:nth-child(1) {
    width: 10%;
}

.championTable tr > td:nth-child(2) {
    width: 10%;
}

#home-button {
    position: fixed;
    top: 25px;
    right: 20px;
}

.nav-button {
    width: 120px;
}

#champions-navbar {
    position: absolute;
    top: 0px;
    width: 300px !important;
    border-radius: 5px;
    border: 2px solid black;
    z-index: 4799;
}

a.no-underline:hover {
    text-decoration: none;
}

#champions-grid-search {
    width: 200px;
    margin-right: 10px;
}

.champion-label {
    font-weight: bold;
}

.champion-block {
    height: 310px;
    cursor: pointer;
}

.champion-block:hover {
}

.champion-block-description {
    margin-left: -15px;
    text-align: center;
    display: flex;
    align-items: center;
}

.round-portrait {
    border-radius: 60px;
    border: 3px solid black;
}

.rioter-top-champions {
    position:relative;
    text-align:center;
    margin: 3px;
}

.rioter-top-champions img {
    width: 64px;
}

.rioter-top-champions span.rioter-top-champ-counter {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 100;
    text-shadow: 2px 2px #000000;
    font-size: 20px;
    padding-left: 6px;
    padding-right: 3px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50% 0 0 50%;
    pointer-events: none;
}

.top-champion {
    cursor: pointer;
}

.top-champion.selected img {
    box-shadow: 0 0 5px 3px red;
}

.inline {
    display: inline-block;
}

.among-bonus {
    font-size: 20px;
}

.rundown-link {
    color: red;
}

.rundown-link:hover {
    color: darkred;
}

.thread-link {
    font-weight: bold;
}

#search-row {
    background-color: #ffffff;
    padding-bottom: 15px;
    border-bottom: 1px solid grey;
}

.fixed-below-navbar {
    position: fixed;
    width: inherit;
    top: 50px;
    z-index: 9;
    background-color: #ffffff;
    padding-top: 5px;
    border-bottom: 1px solid grey;
}

.filterCheckbox {
    padding: 5px;
}

.filterCheckbox > *:hover {
    cursor: pointer;
    color: rgba(255,0,0,1);
}

.navbar > .container {
    margin-top: 13px;
}

.small-pencil {
    font-size: 14px;
}

/* Resource style */

.resource-Mana {
    color: blue;
}

.resource-Energy {
    color: orange;
}

.resource-Health {
    color: red;
}

.resource-Courage {
    color: purple;
}

/* Location styles */

.base-bg {
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.style-default {
    background-image: url('/static/images/bg/bg-default.jpg');
}

.style-void {
    background-image: url('/static/images/bg/bg-void.jpg');
}

.style-targon {
    background-image: url('/static/images/bg/bg-targon.jpg');
}

.style-demacia {
    background-image: url('/static/images/bg/bg-demacia.jpg');
}

.style-noxus {
    background-image: url('/static/images/bg/bg-noxus.jpg');
}

.style-bilgewater {
    background-image: url('/static/images/bg/bg-bilgewater.jpg');
}

.style-shurima {
    background-image: url('/static/images/bg/bg-shurima.jpg');
}

.style-freljord {
    background-image: url('/static/images/bg/bg-freljord.jpg');
}

.style-piltover {
    background-image: url('/static/images/bg/bg-piltover.jpg');
}

.style-zaun {
    background-image: url('/static/images/bg/bg-zaun.jpg');
}

.style-shadow-isles {
    background-image: url('/static/images/bg/bg-shadow-isles.jpg');
}

.style-ionia {
    background-image: url('/static/images/bg/bg-ionia.jpg');
}

/* Champions mini-portraits */

.mini-icon {
    width: 40px;
    border-radius: 20px;
    border: 2px solid black;
    margin: 2px;
}

.mini-icon:hover {
    cursor: pointer;
    border: 2px solid red;
}

.medium-icon {
    width: 60px;
}

img.formIcon {
    width: 16px;
}

/* Red Posts Search */

.searchChampionIcon {
    cursor: pointer;
    opacity: 1;
    width: 32px;
}

.searchChampionIcon:hover {
    border: 2px solid darkred;
}

#id_champions[class*="block-grid-"] > li {
    padding: 1px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
}

.formScrolls ul {
    max-height: 170px;
    overflow-y: scroll;
}

/* http://jsfiddle.net/panman8201/mkzrm/10/ */

#top-link-block.affix-top {
    position: absolute; /* allows it to "slide" up into view */
    bottom: -82px; /* negative of the offset - height of link element */
    right: 10px; /* padding from the left side of the window */
}
#top-link-block.affix {
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 25px; /* height of link element */
    right: 20px; /* padding from the left side of the window */
}

/* Buttons */

.details-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
	background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color:#fe1a00;
	-webkit-border-top-left-radius:42px;
	-moz-border-radius-topleft:42px;
	border-top-left-radius:42px;
	-webkit-border-top-right-radius:42px;
	-moz-border-radius-topright:42px;
	border-top-right-radius:42px;
	-webkit-border-bottom-right-radius:42px;
	-moz-border-radius-bottomright:42px;
	border-bottom-right-radius:42px;
	-webkit-border-bottom-left-radius:42px;
	-moz-border-radius-bottomleft:42px;
	border-bottom-left-radius:42px;
	text-indent:0;
	border:1px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:30px;
	line-height:30px;
	width:30px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #b23e35;
}

.details-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
	background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
	background-color:#ce0100;

}.details-button:active {
	position:relative;
	top:1px;
}
