    <!--

                                                             -///.
                                                    .//+dh:s+NMMMNsoyyyhhs:-+/`
                                                  `yNMMMMMNMMNNh++-+sss/-+s+/:`
                                                `-hMMNNMNNmh/--``. `.`
                       .+/-`                   .dmmmh---/syhdh:ymmhdmdyyhdd/
                      /mMMMy..-+/-.            -sooo+yhhhmddMNmMMMMMMMmyo:+/
                     :MMMMMMNNNMMMmds/`       ydMMMhyhy/`.``/-./shdhs/.
                     /MMMMMMMMMMMMMMMM:       .-dMMd++++-
                     dMMMMMMMMMMMMMMMd  ./oso+..yMMMMMMMN/
                    +MMMMMMMMMMMMMMMN. :mMMMMMmmMMMMMMMMMN+`
                 -`.NMMMMMMMMMMMMMMM/  +MMMMMMMMMMMMMMMMMMMdyo/-oo/:.``
                 -hdMMMMMMMMMMMMMMms   `dMMMMMMMMMMMMMMMMMMMMMMMMMMMMmdy+-`-yhys+`
                  /MMMMMMMMMMMMMMd`     .mNMMMMMMMMMMMMMMMMMMydNMMMMMMMMMMdNMMMMM.
               .-`hMMMMMMMMMMMMMM.       .-dMMMMMMMMMMMMMMMMMo :+osydmNNNMMMMMMMM/
                yhMMMMMMMMMMMMMMy        `+NMMMMMMMMMMMMMMMMMN-       `-.dMMMMMMMm
                `mMMMMMMMMMMMMMMo``       .NMMMMMMMMMMMMMMMMMMm`         yMMMMMMd:
             `o-:MMMMMMMMMMMMMMMMNmhyo+``:mMMMMMMMMMMMMMMMMMMMMd`        .NMMNm/
              -mNMMMMMMMMMMMMMMMMMMMMMMmmMMMNyodMMMMMMMMMMMMMMMMh        :MMN.
               /MMMMMMMMMMMMMMMMMMMMMMMMMMh:    +NMMMMMMMMMMMMMMM/       sNM/
               hMMMMMMMMMMMMMN...:oymNMyy:       `yMMMMMMMMMMMMy:          `
              -MMMMMMMMMMMMMMo                     sMMMMMMMMs/`
              hMMMMMMMMMMMMMm`                     dMMMMMMMMh`                          ..
             .MMMMMMMMMMMMMM/                     /MMMMMMMMMM/                      -+hNMMs
             sMMMMMMMMMMMMMh                     `mMMMMMMMMMM+.                 .+yNMMMMMMMy`
            `NMMMMMMMMMMMMM:                     yMMMMMMMMMMMMNy-           .+ymMMMMMMMMMMMMh`
            oMMMMMMMMMMMMMM`                   `yMMMMm-:yNMMMMMMNy.      .sdNMMMMMMMMMMMMMMMMm:
            dMMMMMMMMMMMMMd                  `:mMMMNo`   `/ymMMMMMNo.    :MMMMMMMMMMMNhshymMMMMo
            sMMMMMMMMMMMMM+                 oNNMMNs.        `:sdMMMMNy+odNMMMMMMMMMd/`  ` `:sdNMh.
            +MMMMMMMMMMMMo              `:` dMMMy-             `.+hNMMMMMMMmhMMMMNh.         `.:sh:
            -MMMMMMMMMMm/              `hMmmMMN+`                  `:sdNds-` oo/:.               `.
             NMNMMMMMmo`            :hydMMMMMMNo-                     `.`
             +M/yMMd/`              -MMMMMMMMMMNs
              :-mm/`                :MMMMMMMMMy-
               oo`                .sNMMMMMMMMo
               `-/:--..``       .omMMMMMMMh:/-
                `:hNNNmmddhhyysdmMMMMMMMN+`
                   -omMMMMMMMMMMMMMMMMMd-
                     `:ymMMMMMMMMMMMMMy`
                        `:ymMMMMMMMMNo`
                           `:/sNNMMd:
                               .:::`


    _-_-                                                /\       -_____
     /,             _     _                            ||          ' | -,               '   _
     ||      _-_   < \,  / \\ \\ \\  _-_         /'\\ =||=        /| |  |`  _-_   _-_, \\  / \\ \\/\\  _-_,
    ~||     || \\  /-|| || || || || || \\       || ||  ||         || |==|| || \\ ||_.  || || || || || ||_.
     ||     ||/   (( || || || || || ||/         || ||  ||        ~|| |  |, ||/    ~ || || || || || ||  ~ ||
    (  -__, \\,/   \/\\ \\_-| \\/\\ \\,/        \\,/   \\,        ~-____,  \\,/  ,-_-  \\ \\_-| \\ \\ ,-_-
                         /  \                                    (                         /  \
                        '----`                                                            '----`

    wowsoASCIIART
    -->