{% load staticfiles %}
{% load template_tags %}

<table id="{{id}}" class="stripe hover {{class}}">
    <thead class="hidden">
        <tr>
            <th>Portrait</th>
            <th>Name</th>
            <th>Red Posts</th>
            <th>Link</th>
            <th>Search String</th>
        </tr>
    </thead>
    <tfoot class="hidden">
        <tr>
            <th>Portrait</th>
            <th>Name</th>
            <th>Red Posts</th>
            <th>Link</th>
            <th>Search String</th>
        </tr>
    </tfoot>
</table>
