{% load staticfiles %}
{% load template_tags %}
{% for red in reds %}
<div class="red-post">
    <div class="red-contents red-contents-120 red-quote" data-max-height="120px">
        <div class="hoverMoreFetch bot5">{{red.contents|markdown | safe}}</div>
        <div class="read-more row">
            <div class="col-md-3"></div>
            <div class="col-md-6 msg">Hover for more...</div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <div class="red-rioter">
        <a href="{% url "rioter" rioter_url_id=red.rioter_url_id %}" class="rioter">{{red.rioter}}</a>,
        {% include "utils/date_span.html" with date=red.date|isoformat %} in thread <a href="{{red.url}}" target="_blank">{{red.thread}}</a>
    </div>
    {% if red.champions_data|length != 0 %}
    <div class="text-center red-champions">
        {% for c in red.champions_data %}
            {% include "utils/mini_champion_icon.html" with champion=c %}
        {% endfor %}
    </div>
    {% endif %}
</div>
<hr>
{% endfor %}