{% load staticfiles %}
{% load template_tags %}
{% for red in reds %}
<div class="red-post">
    <div class="red-contents red-quote">
        <div>{{red.contents|markdown | safe}}</div>
        <div class="read-more row">
            <div class="col-md-3"></div>
            <div class="col-md-6 msg">Hover for more...</div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <div class="red-rioter">
        <span class="rioter">{{red.rioter}}</span>,
        {% include "utils/date_span.html" with date=red.date %} in thread <a href="{{red.url}}" target="_blank">{{red.thread}}</a>
    </div>
    <div class="text-center red-champions">
        {% for c in red.champions_data %}
            {% include "utils/mini_champion_icon.html" with champion=c %}
        {% endfor %}
    </div>
</div>
<hr>
{% endfor %}