{% load staticfiles %}
{% load template_tags %}

<table id="red-table" class="stripe hover">
    <thead>
        <tr>
            <th>Rioter</th>
            <th>Date</th>
            <th>Thread</th>
            <th>Contents</th>
            <th>Region</th>
            <th>Gloriousness</th>
            {% if print_champions %}<th>Champions</th>{% endif %}
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Rioter</th>
            <th>Date</th>
            <th>Thread</th>
            <th>Contents</th>
            <th>Region</th>
            <th>Gloriousness</th>
            {% if print_champions %}<th>Champions</th>{% endif %}
        </tr>
    </tfoot>
    <tbody>
        {% for r in reds %}
        <tr>
            <td><a href="{% url "rioter" rioter_url_id=r.rioter_url_id %}" class="rioter">{{r.rioter}}</a></td>
            <td>{% include "utils/date_span.html" with date=r.date|isoformat %} ({{r.region}})</td>
            <td><a href="{% url "red-posts" %}?thread_id={{r.thread_id}}"><i title="Rundown for thread « {{r.thread}} »" class="glyphicon glyphicon glyphicon-list rioter"></i></a>
                &nbsp;<a href="{{r.url}}" target="_blank">{{r.thread}}</a></td>
            <td><div class="red-quote">{{r.contents|markdown | safe}}</div></td>
            <td>{{r.region}}</td>
            <td>{{r.is_glorious}}</td>
            {% if print_champions %}<td>
                <div class="text-center">
                {% if "champions_data" in r and r.champions_data|length > 0 %}
                    {% for c in r.champions_data %}
                        <a href="{% url "champion" c.url_id %}"><img class="mini-icon" alt="{{c.name}}" title="{{c.name}}" src="{% static "images/portraits/" %}{{c.portrait}}"></img></a>
                        <span class="hidden">
                            {{c.name}} {{c.search}}
                        </span>
                    {% endfor %}
                {% else %}
                    {{r.section}}
                {% endif %}
                </div>
            </td>{% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>