{% load staticfiles %}
{% load template_tags %}

<table id="red-table" class="stripe hover">
    <thead>
        <tr>
            <th>Rioter</th>
            <th>Date</th>
            <th>Thread</th>
            <th>Contents</th>
            <th>Region</th>
            <th>Gloriousness</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Rioter</th>
            <th>Date</th>
            <th>Thread</th>
            <th>Contents</th>
            <th>Region</th>
            <th>Gloriousness</th>
        </tr>
    </tfoot>
    <tbody>
        {% for r in reds %}
        <tr>
            <td><span class="rioter">{{r.rioter}}</span></td>
            <td>{% include "utils/date_span.html" with date=r.date %} ({{r.region}})</td>
            <td><a href="{{r.url}}" target="_blank">{{r.thread}}</a></td>
            <td><div class="red-quote">{{r.contents|markdown | safe}}</div></td>
            <td>{{r.region}}</td>
            <td>{{r.is_glorious}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>