{% load staticfiles %}
{% load template_tags %}

{% include "utils/components/red_table_handlebars.html" %}

<table id="{{table_id}}" class="stripe hover">
    <thead>
        <tr>
            <th>Rioter</th>
            <th>Date</th>
            <th>Thread</th>
            <th>Contents</th>
            <th>Champions</th>
            <th>Region</th>
            <th>Gloriousness</th>
            <th>Tags</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Rioter</th>
            <th>Date</th>
            <th>Thread</th>
            <th>Contents</th>
            <th>Champions</th>
            <th>Region</th>
            <th>Gloriousness</th>
            <th>Tags</th>
        </tr>
    </tfoot>
</table>