{% include "utils/components/cell_red_post.html" %}
{% include "utils/components/cell_champions.html" %}
{% include "utils/components/cell_date.html" %}
{% include "utils/components/cell_contents.html" %}
{% include "utils/components/cell_region.html" %}
{% include "utils/components/cell_rioter.html" %}
{% include "utils/components/cell_thread.html" %}
{% include "utils/components/cell_gloriousness.html" %}
{% include "utils/components/cell_tags.html" %}
{% include "utils/components/cell_relevancy.html" %}